.about_section {
    padding-top: 6.5rem;
}

.about {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 5rem 0;
}

@media (max-width: 890px) {
    .about {
        margin: 2rem 0 0;
        flex-direction: column-reverse;
    }
}


.about_data {
    width: 50%;
    text-align: justify;
}

.about_data p {
    font-family: var(--font-inter);
    line-height: 1.5;
    margin-bottom: 0.75rem;
    color: var(--light-slate);
}

@media (max-width: 420px) {
    .about_data p {
        font-size: 1rem;
    }
}


.about_photo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.photo {
    width: 16rem;
    border-radius:50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    
}

.container_photo {
    border: 0.35rem solid var(--blue);
    border-radius: 50%;
    width: 18rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--gray);
    
}

@media (max-width: 890px) {
    .about_data, .about_photo {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .photo {
        width: 14rem;
        margin:0;
    }

    .container_photo {
        width: 16rem;
    }
}

.technologies {
    display: grid;
    grid-template-columns: 40% 1fr;
    width: 50%;
}

.technologies ul li {
    list-style: none;
    margin-bottom: 0.5rem;
    font-family: var(--font-mono);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--light-slate)
}

.technologies ul li:before {
    content: "▶";
    color: var(--blue);
    font-size:0.6rem;
    margin-top: 2px;
}
.slider_container {
    width: 23vw;
}

@media (max-width: 890px) {
    .technologies {
        grid-template-columns: 50% 1fr;
    }

    .slider_container {
        width: 75vw;
    }

}


.slides_images {
    width: 2.75rem;
}

.splide__slide  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    width: 3.4rem;
    aspect-ratio: 1/1;
    object-fit: contain;
} 

.container_abilities {
    display:flex;
    flex-wrap: wrap;
    margin:0rem 5rem 0;
    width:100%;
}

.container_carousel {
    width: 50%;
    display: flex;
    justify-content: center;
}

.svg_width {
    font-size: 2rem;
    color: var(--white);
}

@media (max-width: 890px) {
    .container_abilities{
        margin:0;
    }
    
    .technologies {
        width: 100%;
    }

    .container_carousel {
        width: 100%;
        margin-top: 1.8rem;
    }
}



  