.experience_section {
    padding-top: 6.5rem;
}


.container_jobs {
 width: 100%;
 /* background-color: white; */
 margin-left: 5rem;
 display: flex;
 justify-content:flex-start;
 margin-top: 2rem;
}

@media (max-width: 890px) {
    .container_jobs {
        margin-left: 0;
    }
}

.jobs_table {
    width: 55rem;
    display: flex;
    flex-wrap: wrap;
}

.workplaces {
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
}
@media (max-width: 890px) {
    .workplaces{
        width: 100%;
        margin-bottom: 0.75rem;
    }
}

.workplaces button {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    cursor: pointer;
    padding: 0px 20px 2px;
    background-color: transparent;
    color: var(--gray);
    border: none;
    border-left: 2px solid var(--edges);
}

.button_selected {
    color: var(--green)!important;
    background-color: #1c2a44!important;
}

.workplaces button:hover {
    background-color: #1c2a44;
    color: var(--green);
    transition: all .5s ease;
}

.jobs_activities {
    width: 65%;
    /* animation: revealJob 1s linear;  */
    animation: revealJob 1.5s cubic-bezier(0.39, 0.58, 0.57, 1);
}
@media (max-width: 890px) {
    .jobs_activities {
        width: 100%;
        padding: 1rem;
    }
}
.range {
    font-size: 1rem;
    font-family: var(--font-inter);
    font-weight: 600;
}

.job_title {
    font-size: 1.5rem;
    font-family: var(--font-inter);
    font-weight: 600;
    color: var(--titles-color);
}

.jobs_activities ul li {
    list-style: none;
    margin-bottom: 0.75rem;
    font-family: var(--font-mono);
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: var(--light-slate);
    line-height: 1.5;
}

.jobs_activities ul{
    margin-top: 1.5rem;
    
}

.jobs_activities ul li:before {
    content: "▶";
    color: var(--blue);
    font-size: 0.6rem;
    margin-top: 5px;
}

.lineJobs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 1.5px;
    height:3rem;
    border-radius:4px;
    background: var(--green);
    transition: transform 0.20s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s; 
}

.job_title_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.job_title_container a {
    font-size: 1.4rem;
    font-family: var(--font-inter);
    color: var(--blue);
    position: relative;
}

.job_title_container a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--blue);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
  }

  .job_title_container a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }


.job_title_container span {
    color: var(--titles-color);
    font-size: 1.4rem;
}

@media (max-width: 890px) {
    .job_title_container{
        flex-direction: column;
    }
    .job_title_container span {
        display: none;
    }

    .range {
        text-align: center;
    }

}


@keyframes revealJob {
    from {
        opacity: 0;
        /* transform: translateY(-2rem);  */
    }
    to {
        opacity: 1;
        /* transform: translateY(0);  */
    }

}

